/*Global*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #222;
}

body{
    height:100vh;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 30px;
}

/*Header*/

.navigation{
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}

.navigation .left-side a{
    color: black;
    opacity: 0.75;  
    padding-left: 15px;
}

.navigation .right-side{
    display: flex;
    align-items: center;
}

.navigation .right-side a{
    color: rgba(0, 0, 0, 0.87);
    padding-right: 15px;
}

.navigation .right-side img{
    width: 40px;
    padding-right: 15px;
}

#sign-in-button{
    -webkit-appearance: none;
    outline: none;
    background-color: #4c8bf5;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    width: 70px;
    height: 30px;
}

/*Main*/

main{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    width: 582px;
    height: 44px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 30px;
}

#search-glass{
    width:15px
}

#search-voice{
    width:15px;
}

/* Footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:40px;
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 0 10px;
    border-top: 1px solid #e4e4e4
}

footer .left-side a{
    font-size: 14px;
    color: #5f6368;
    opacity: 0.75;  
    padding-left: 15px;
}

.right-side{
    display: flex;
    align-items: center;
}

footer .right-side a{
    font-size: 14px;
    color: #5f6368;
    padding-right: 15px;
}