/*Global*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #222;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 30px;
}

/*Header*/

.navigation{
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
}

.navigation .left-side a{
    color: black;
    opacity: 0.75;  
    padding-left: 15px;
}

.navigation .right-side{
    display: flex;
    align-items: center;
}

.navigation .right-side a{
    color: rgba(0, 0, 0, 0.87);
    padding-right: 15px;
}

.navigation .right-side img{
    width: 40px;
    padding-right: 15px;
}

.google-apps{
    cursor: pointer;
}

#sign-in-button{
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    background-color: #4c8bf5;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    width: 70px;
    height: 30px;
}

/*Main*/

main{
    height: 83vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    padding:109px 0 20px 0;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 582px;
    height: 44px;
    margin-top: 6px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 30px;
}

.search-buttons{
    padding-top: 18px;
}

#search-button{
    cursor:pointer;
    background-color: #e4e4e4;
    border: none;
    outline: none;
    -webkit-appearance: none;
    font-size:14px;
    color: #5f6368;
    height: 36px;
    min-width:54px;
    padding:0 16px;
    border-radius: 4px;
    margin: 11px 4px;
}

#search-glass{
    width:20px;
    padding: 0 0 1px 4px;
}

#search-bar{
    width: 487px;
    height: 39px;
    border: none;
    outline: none;
}

#search-voice{
    cursor: pointer;
    width:28px;
    padding: 0 4px 0 0;
}

/* Footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:6vh;
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 0 10px;
    border-top: 1px solid #e4e4e4
}

footer .left-side a{
    font-size: 14px;
    color: #5f6368;
    opacity: 0.75;  
    padding-left: 15px;
}

.right-side{
    display: flex;
    align-items: center;
}

footer .right-side a{
    font-size: 14px;
    color: #5f6368;
    padding-right: 15px;
}